---
BasedOnStyle: LLVM
Language: C
Standard: Latest
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
PointerAlignment: Left
ReferenceAlignment: Left

# Alignment
AlignConsecutiveAssignments: Consecutive
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
InsertBraces: true
RemoveBracesLLVM: false

# Include sorting/grouping
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: "^<.*"
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: ".*"
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
---
